/********************************************************

				branding

********************************************************/
$color-primary: #0086cf;
$color-highlight: #fff7cd;



/********************************************************

				layout

********************************************************/
$toolbar-height: 48px;
$sub-content-width: 250px;


/********************************************************

				blocks sizing

********************************************************/

$block-padding: 15px;
$block-margin: 13px;


/********************************************************

				forms

********************************************************/
$color-placeholder: #d9d9d9;
