/********************************************************

			blocks

********************************************************/

.block {
  margin-bottom: $block-margin;
}

.block__header {
  margin-bottom: 5px;
  padding: $block-padding/2 $block-padding;
}

.block__title {
  color: #555;
  font-size: 1.1em;
  font-weight: bold;
  line-height: 1;
  margin: 0;
}

.block-alone {
  margin-bottom: 5px;
  padding: $block-padding;
}

.block--highlighted {
  background: $color-highlight;
}
