/********************************************************

				main-content area

********************************************************/

.content{
	margin-left: $sub-content-width;
	box-sizing: border-box;
  margin-right: 80px;
}
