/********************************************************

				    activity detail

********************************************************/
.details{
  position: fixed;
  width: $details-width;
  top: $toolbar-height;
  left: 100%;
  -moz-transition: all $animation-length;
  -webkit-transition: all $animation-length;
  transition: all $animation-length;
  height: 100%;
  background: #f1f1f1;
  z-index: 3;
}

.cnt-activate{
  .details{
    left: 100 -$details-width;
  }
}
