/********************************************************

			sub-content area, e.g. filter

********************************************************/

.sub-content {
  background: #f6f6f6;
  border-right: 1px solid #eee;
  bottom: 0;
  box-sizing: border-box;
  left: 0;
  max-width: $sub-content-width;
  overflow: auto;
  padding-bottom: 30px;
  position: fixed;
  top: $toolbar-height;
  width: 100%;
  z-index: 1;
}
