<ul class="list">
{{#each act in activities}}
  <li class="list__item">
    {{#link-to 'activity' act.id class='list__active grid-g'}}
      <div class="grid-1-3">
        <h1 class="list__title text-overflow">{{act.contactType.name}}</h1>
        <p class="mini-p text-overflow">{{act.organization.name}}</p>
      </div>
      <div class="grid-2-3">
        <h2 class="list__title list__title--sub">{{act.organizer.fullName}}</h2>
        <p class="mini-p text-overflow">
        {{#each topic in act.topics}}
          <span>{{topic.name}} </span>
        {{/each}}
        </p>
      </div>
    {{/link-to}}
  </li>
{{/each}}
</ul>
