{{!

  filter area

}}

<div class="sub-content">

  <div {{bind-attr class=':block-alone descriptive:block--highlighted'}}>
    {{input type="search" class="form-control" results=5 autosave="This week" name=yourSearch value=descriptive }}
  </div>

  <div class="block">
    <div class="block__header">
      <h3 class="block__title">Activity Type</h3>
    </div>

    <div class="block__content">
      {{filter-list
        items=activityTypeFilters
        isSingleSelect=false
      }}
    </div>
  </div>

</div>
